.player {
  padding: 40px;
  width: 65%;

  .player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    iframe {
      border-radius: 30px;
      width: 1000px;
      height: 600px;
    }
  }

  .info-container {
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
    text-align: center;

    h4 {
      font-size: 24px;
      margin: 10px 0px;
    }

    p {
      margin: 10px 0px;
      font-size: 18px;
    }
  }
}
